body {
  padding: 20px;
}
.board .title {
  background-color: #eeeeee;
  border: none;
  border-top: black 3px solid;
  border-bottom: #d9d9d9 2px solid;
  padding-left: 10px;
  padding-bottom: 15px;
}
.board .title span {
  margin: auto 5px;
}
.board .title span:first-of-type {
  margin-left: 0;
}
.board .main-text {
  margin: 20px;
}
