@import "./join.css";
@import "./login.css";

/* 게시판 */
@import "./board-write.css";
@import "./board.css";

@import "./layout.css";
/* html::-webkit-scrollbar {
  display: none;
} */

body {
  margin: 0;
  padding: 0px;
  position: relative;
  height: 100vh;
}
